html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03001C;
}
.operations {
    width: 275px;
    height: 100px;
    background-color: #E5D3B3;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: #52b495 solid 10px;
}
main {
    width: 370px;
    height: 580px;
    background-color: #5B8FB9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.down-part {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(4, 0fr);
    gap: 5px;
}
button {
    width: 70px;
    height: 70px;
    padding: 0;
    background-color: #301E67;
    color: #E5D3B3;
    font-size: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 20px;
    border: 2px solid black;
    bottom: 0;
    transition: bottom 0.5s;
    position: relative;
}
button:hover {
    bottom: 3px;
    border: 2px solid #eb1e88;
}
button:active {
    border: 4px solid #eb1e88;
}
.AC:hover, .backspace:hover {
    border: 2px solid #ff1300;  
}
.AC:active, .backspace:active {
    border: 4px solid #ff1300;  
}
.equals:hover {
    border: 2px solid #36f509;
}
.equals:active {
    border: 4px solid #36f509;
}
img {
    width: 90px;
    height: 90px;
    margin-right: 4px;
    gap: 0;
}
.backspace {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-family: "Noto Sans Math", sans-serif;
    line-height: 1.9;
    font-weight: 600;
    word-wrap: break-word;
    overflow-x: auto;
    height: 40px;
    width: 240px;
    margin: 10px 15px 10px 15px;
}
.AC {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    height: auto;
}
.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    height: auto;
}
@media (max-width: 371px) or (max-height: 581px) {
    main {
        width: 280px;
        height: 440px;
    }
    .operations {
        width: 207px;
        height: 70px;
    }
    p {
        line-height: 1.5;
        width: 190px;
        height: 28px;
        margin: 5px;
    }
    button {
        width: 53px;
        height: 53px;
    }
    img {
        width: 70px;
        height: 70px;
        margin-left: 2px;
    }
}